PORT=5000
MONGO_URI=your_mongodb_connection_string


Note: This file is only for reference.
Create your own file named .env and paste the MongoDB connection string provided by the Team Leader.
You can keep the PORT as 5000 or change it if needed.
After creating your .env file, you can delete this example file.
